{% extends 'base.html' %}
{% load static %}

{% block title %}Tartan Thom{% endblock %}

{% block content %}

<nav id="nav-home" class="navbar navbar-expand-lg nav-home">
    <div class="container">
        <div class="row justify-content-center">
            <a href="{% url 'products:view_products' %}">
                <div class="col-md-12">
                    <h2>Give that special someone a beautiful card to tell them how much you care...</h2>
                </div>
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row justify-content-center flex-column my-3">
        <div class="col-md-12 flex-column">
            <div class="row">
                <div class="col-md-6 p-0">
                    <img src="{% static 'img/NicProfile.jpg' %}" alt="Profile Picture" class="shop-now-image">
                    <a href="{% url 'products:view_products' %}">
                        <div class="shop-now">
                            <h2>Shop Now</h2>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 p-0">
                    <img src="{% static 'img/NicProfile.jpg' %}" alt="Profile Picture" class="shop-now-image">
                    <a href="{% url 'products:view_products_by_type' 'cards' %}">
                        <div class="shop-cards">
                            <h2>Shop Cards</h2>
                        </div>
                    </a>                
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 p-0">
                    <img src="{% static 'img/NicProfile.jpg' %}" alt="Profile Picture" class="shop-now-image">
                    <a href="{% url 'products:view_products_by_type' 'cake-toppers' %}">
                        <div class="shop-cake-toppers">
                            <h2>Shop Cake Toppers</h2>
                        </div>
                    </a>   
                </div>
                <div class="col-md-6 p-0">
                    <img src="{% static 'img/NicProfile.jpg' %}" alt="Profile Picture" class="shop-now-image">
                    <a href="{% url 'products:view_products_by_type' 'gifts' %}">
                        <div class="shop-gifts">
                            <h2>Shop Gifts</h2>
                        </div>
                    </a>   
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center flex-column my-3">
        <div class="testimonial-content col-md-10">
            {% if testimonials %}
                {% for testimonial in testimonials %}
                    {% if testimonial.testimonial_active %}
                    <h3 class="testimonial px-2">"{{ testimonial.testimonial }}"</h3>
                    <div class="button-left"><i class="fas fa-angle-left fa-2x"></i></div>
                    <div class="button-right"><i class="fas fa-angle-right fa-2x"></i></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}