{% extends 'base.html' %}
{% load static %}

{% block title %}Tartan Thom{% endblock %}

{% block content %}

<div>

    <div class="row justify-content-center flex-column my-3">
        <div class="testimonial-content col-md-10 flex-column">
            {% if testimonials %}
                {% for testimonial in testimonials %}
                    {% if testimonial.testimonial_active %}
                    <h3 class="testimonial px-2">"{{ testimonial.testimonial }}"</h3>
                    <div class="button-left"><i class="fas fa-angle-left fa-2x"></i></div>
                    <div class="button-right"><i class="fas fa-angle-right fa-2x"></i></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}