{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% load crispy_forms_tags %}

{% block title %}Tartan Thom - Bespoke{% endblock %}

{% block content %}

<div class="container tartan-thom-container p-3 my-5">
    <div class="row justify-content-center m-2 p-3">
        <div class="col-md-12">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h1>Bespoke Item Form</h1>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-8 px-3 mx-auto">

                <form action="{% url 'checkout:bespoke' order.order_number product.id %}" method="POST">
                {% csrf_token %}
                    <!-------------Customer Details----------->
                    <fieldset class="mb-5">
                    <!---------------------Birthday----------------->
                    {% if product.category == 'Birthday' %}
                        {{ form.person_name1|as_crispy_field }}
                        {{ form.date_of_birth|as_crispy_field }}
                    <!----------------------Baby-------------------->
                    {% elif product.category == 'Baby' %}
                        {{ form.person_name1|as_crispy_field }}
                        {{ form.date_of_birth|as_crispy_field }}
                        {{ form.place_of_birth|as_crispy_field }}
                        {{ form.birth_weight_lb|as_crispy_field }}
                        {{ form.birth_weight_oz|as_crispy_field }}
                    <!---------------------New Home----------------->
                    {% elif product.category == 'New Home' %}
                        {{ form.person_name1|as_crispy_field }}
                        {{ form.address_line1|as_crispy_field }}
                    <!------------Anniversary/Wedding--------------->
                    {% elif product.category == 'Anniversary' or 'Wedding' %}
                        {{ form.person_name1|as_crispy_field }}
                        {{ form.person_name2|as_crispy_field }}
                        {{ form.wedding_date|as_crispy_field }}
                    {% else %}
                        <p>Sorry, this doesn't appear to be a bespoke product</p>
                    {% endif %}
                    </fieldset>
                    <fieldset class="mb-5">
                        <button type="submit" class="btn tartan-thom-btn">Submit</button>
                    </fieldset>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>    

{% endblock %}