{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% load crispy_forms_tags %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block title %}Tartan Thom - Checkout{% endblock %}

{% block content %}

<h1>Checkout</h1>

<div class="container">
    <form action="POST" id="payment-form">
    {% csrf_token %}
        <!-------------Customer Details----------->
        <div class="row">
            <div class="col px-3">
                <fieldset>
                <h1>Customer Details</h1>
                    <div>
                        {{ order_form.fullname | as_crispy_field }}
                        {{ order_form.phone_number | as_crispy_field }}
                    </div>
                </fieldset>
            </div>
        </div>

        <!-------------Delivery Address----------->
        <div class="row">
            <div class="col px-3">
                <fieldset>
                <h1>Delivery Address</h1>
                    <div>
                        {{ order_form.address_line1 | as_crispy_field }}
                        {{ order_form.address_line2 | as_crispy_field }}
                        {{ order_form.town_city | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                    </div>
                </fieldset>
            </div>
        </div>
        <!-------------Payment Details------------>
        <div class="row">
            <div class="col px-3">
                <fieldset>
                <h1>Payment</h1>
                        <div id="card-element">
                            <!-- Elements will create input elements here -->
                        </div>
                        <!-- We'll put the error messages in this element -->
                        <div id="card-errors" role="alert"></div>
                        <button id="submit" class="btn">Pay</button>
                </fieldset>
            </div>
        </div>
    </form>
</div>


{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}