{% extends 'base.html' %} 
{% load static %} 
{% block title%}Tartan Thom - Checkout History{% endblock %} 

{% block content %}


<div class="container checkout-history-container">
    <div class="row justify-content-center m-3">
        <div class="col-md-12">
            <div class="row">
                <h1>Order History</h1>
            </div>
        {% if user_orders %}
            {% for order in user_orders.all %}
            <div class="row">
                <div class="col">
                    <a href="{% url 'checkout:order_detail' order.order_number%}"><p>Order Number: {{ order.order_number }}</p></a>
                    <p>Order Date: {{ order.date }}</p>
                    <p>Total: {{ order.order_total }}</p>
                    <p>Ordered By: {{ order.fullname }}</p>
                </div>
            </div>
            <hr>
            {% endfor %}
        {% endif %}

        </div>
    </div>
</div>

{% endblock %}



