{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% load crispy_forms_tags %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block title %}Tartan Thom - Order Successful{% endblock %}

{% block content %}

<div class="container tartan-thom-container p-3 my-5">
    <div class="row justify-content-center m-2 p-3">
        <div class="col-md-12">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-8 px-3 mx-auto my-2">
                    <h1>Order Confirmation</h1>
                </div>
            </div>
            <hr>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-8">
                    <h3>Your checkout was successful!</h3>
                    <p>Thanks for your order. Your order number is {{order.order_number}}</p>
                    <p>Please review your order summary below. You can also view this order along with previous orders in your <a href="{% url 'profiles:my_profile' %}" class="link">Account</a></p>
                    <p class="my-1"><i class="fas fa-info-circle" aria-hidden="true"></i>If you have ordered any bespoke items, please ensure you complete our bespoke form with the details. Click on the order number link below</p>
                </div>
            </div>
            <hr>
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-8">
                    <h3>Order Details:</h3>
                    <a href="{% url 'checkout:order_detail' order.order_number %}" class="link"><p>Order Number: {{ order.order_number }}</p></a>
                    <p>Order Date: {{ order.date }}</p>

                </div>
            </div>
            <hr>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 py-2">
                    <h3>Delivery Details:</h3>
                    <p>{{ order.fullname }}</p>
                    <p>{{ order.address_line1 }}</p>
                    <p>{{ order.address_line2 }}</p>
                    <p>{{ order.town_city }}</p>
                    <p>{{ order.postcode }}</p>
                    <p>{{ order.country }}</p>
                </div>
                <div class="col-md-6 col-lg-4 py-2">
                    <h3>Payment Details:</h3>
                    <p>Total Items: £{{ order.order_total }}</p>
                    <p>Delivery charge: £{{ order.delivery_total }}</p>
                    <p>Grand Total: £{{ order.grand_total }}</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>

{% endblock %}