{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block title%}Tartan Thom - Bag{% endblock %} 
{% block content %}

<div class="container tartan-thom-container p-3 my-5">
    <div class="row justify-content-center m-2 p-3">
        <div class="col-md-12 col-lg-8">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h1>My Bag</h1>
                </div>
            </div>
        </div>
    </div>

    {% if basket_items %}
    <div class="row justify-content-center m-1 p-3">
        <div class="col-md-12 col-lg-8">
            <a href="{% url 'products:view_products' %}" class="btn checkout-btn btn-md">
                <span>
                    <i class="fas fa-shopping-bag"></i>
                </span>
                <span>Continue shopping</span>
            </a>
        </div>
    </div>
    {% for item in basket_items %}
    <div class="row justify-content-center m-2 p-3">
        <div class="col-md-12 col-lg-8">
            <div class="row">
                <div class="col-md-4 my-1">
                    <img src="{{ item.product.image.url }}" alt="product-image" class="products-image"/>
                    {% if item.product.label %}
                    <div class="product-label-left py-auto">
                        <span class="label">{{ item.product.label }}</span>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-6 my-1">
                    <h2>{{ item.product.name }}</h2>
                    {% if item.product.sale_price %}
                    <p>
                        <span>{{ item.quantity }}</span> x <span>£{{ item.product.sale_price}}</span>
                    </p>
                    {% else %}
                    <p>
                        <span>{{ item.quantity }}</span> x <span>£{{ item.product.price}}</span>
                    </p>
                    {% endif %}
                    <form method="POST" action="{% url 'basket:amend_basket' item.product.id %}">         
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="number" name="quantity" min="1" max="50">
                        </div>
                        <div class="form-row my-1">
                            <div class="col-md-3 col-xs-6 my-1">
                                <button class="add-to-basket btn btn-md" type="submit">Update</button>
                            </div>
                        </div>
                    </form>

                    <form method="POST" action="{% url 'basket:delete_from_basket' item.product.id %}">
                        {% csrf_token %}
                        <button type="submit" class="delete-from-basket btn float-left"><i class="far fa-trash-alt"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}
    <div class="row justify-content-center m-2 p-3">
        <div class="col-md-12 col-lg-8">
            {% if product_count == 1%}
                <h3>There is {{ product_count }} item in your bag</h3>
            {% else %}
                <h3>There are {{ product_count }} items in your bag</h3>
            {% endif %}
            <p>Items: £{{ order_total }}</p>
            <p>Delivery: £{{ delivery_total }}</p>
            <p>Total: £{{ grand_total }}</p>
        </div>
        <div class="col-md-12 col-lg-8 my-3">
            <a href="{% url 'checkout:checkout' %}" class="btn checkout-btn btn-md">Proceed to Checkout</a>
        </div>
    </div>
    {% else %}
    <div class="row justify-content-center m-2 p-3">
        <div class="col-md-12 col-lg-8 my-3">
            <h3>Sorry, you don't have any items in your bag!</h3>
        </div>
        <div class="col-md-12 col-lg-8 my-3">
            <p>
                <a href="{% url 'products:view_products' %}" class="btn checkout-btn btn-md">
                    <span>
                        <i class="fas fa-shopping-bag"></i>
                    </span>
                    <span>Continue shopping</span>
                </a>
            </p>
        </div>
    </div>
    {% endif %} 

</div>

{% endblock %}
