{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block title%}Tartan Thom - Basket{% endblock %} 
{% block content %}

<div class="container basket-container p-3 my-5">
    <div class="row justify-content-center m-1 p-3">
        <div class="col">
            <h1>My Basket</h1>
        </div>
    </div>

{% if basket_items %}
    <div class="row justify-content-center m-1 p-3">
        <div class="col-md-12">
            <a href="{% url 'products:view_products' %}" class="btn checkout-btn btn-md">
                <span>
                    <i class="fas fa-shopping-bag"></i>
                </span>
                <span>Continue shopping</span>
            </a>
        </div>
    </div>
    {% for item in basket_items %}
    <div class="row justify-content-center m-2 p-3">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 p-1 my-1">
                    <!-------------Change this to {{ item.product.image }} for production--------------->
                    <img src="{% static 'img/NicProfile.jpg' %}" alt="product-image" class="products-image"/>
                    {% if item.product.label %}
                    <div class="product-label-left py-auto">
                        <span id="label">{{ item.product.label }}</span>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-6 p-3 my-1 basket-detail">
                    <h2>{{ item.product.name }}</h2>
                    {% if item.product.sale_price %}
                    <p>
                        <span>{{ item.quantity }}</span> x <span>£{{ item.product.sale_price}}</span>
                    </p>
                    {% else %}
                    <p>
                        <span>{{ item.quantity }}</span> x <span>£{{ item.product.price}}</span>
                    </p>
                    {% endif %}
                    <form method="POST" action="{% url 'basket:amend_basket' item.product.id %}">         
                    {% csrf_token %}
                        <fieldset>
                        {{ form|crispy }}
                        </fieldset>
                        <div class="form-row my-1">
                            <div class="col-md-3 col-xs-6 my-1">
                                <button class="add-to-basket btn btn-md" type="submit">Update</button>
                            </div>
                        </div>
                    </form>

                    <form method="POST" action="{% url 'basket:delete_from_basket' item.product.id %}">
                        {% csrf_token %}

                        <!-- Bootstrap Button trigger modal -->
                        <button type="button" class="delete-from-basket btn btn-md float-left" data-toggle="modal" data-target="#confirmDelete"><i class="far fa-trash-alt"></i>
                        </button>

                        <!-- Bootstrap Modal -->
                        <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content m-5 p-5">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="confirm-delete-header">Confirm Delete</h3>
                                    <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="confirm-delete-body">
                                    Are you sure you want to remove this item from your basket?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                    <button type="submit" class="btn tartan-thom-btn-pink">Yes</button>
                                </div>
                            </div>
                        </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}
    <div class="row justify-content-center m-2 p-3">
        <div class="col-md-12">
            <p>There are {{ product_count }} items in your basket</p>
            <p>Total cost: £{{total}}</p>
        </div>
        <div class="col-md-12">
            <a href="{% url 'checkout:checkout' %}" class="btn checkout-btn btn-md">Proceed to Checkout</a>
        </div>
    </div>
{% else %}
    <div class="row justify-content-center m-2 p-3">
        <div class="col-md-12">
            <h3>Sorry, you don't have any items in your basket!</h3>
        </div>
        <div class="col-md-12">
            <p>
                <a href="{% url 'products:view_products' %}" class="btn checkout-btn btn-md">
                    <span>
                        <i class="fas fa-shopping-bag"></i>
                    </span>
                    <span>Continue shopping</span>
                </a>
            </p>
        </div>
    </div>
</div>

{% endif %} 

{% endblock %}
