/*-------------Background, Branding and Elements-----------------*/

body {
  background-image: url("/static/img/tartanthom.png");
  height: 100%;
}

.content {
  min-height: 70vh;
}

.brand {
  height: 120px;
  width: 280px;
}

h1,
h2,
h3,
h4 {
  font-family: "Great Vibes", cursive;
}

p,
span,
li,
a,
.btn {
  font-family: "Open Sans", sans-serif;
}

p {
    margin: 0;
}

.link:hover {
    font-weight: bold;
    color: black;
}

a,
a:hover {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

i {
  color: inherit;
  padding: 0 0.5em !important;
}

/*------------------Buttons and links---------------------------*/

.add-to-basket,
.delete-from-basket {
    position: relative;
    display: inline-block;
    background-color: #828285;
    color: #ffffff;
}

.checkout-btn,
.tartan-thom-btn {
    background-color: #828285;
    color: #ffffff;
}

.tartan-thom-btn-pink {
    background-color: #e6beae;
    color: #828285
}

.tartan-thom-a {
    font-family: "Great Vibes", cursive !important;
    font-size: 1.5em;
}

button,
input[type="submit"] {
    padding: 0.5em;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    background-color: #828285;
    border: none;
}

/*-----------------------Modal----------------------------*/

#confirm-delete-header {
    font-family: "Great Vibes", cursive;
}

#confirm-delete-body {
    font-family: "Open Sans", sans-serif;
}

/*-----------------------Messages---------------------------*/

#django-alert {
  font-family: "Open Sans", sans-serif;
}

.alert-error {
    background-color: #828285 !important;
    color:#fff;
}

.alert-success {
    background-color: #e6beae !important;
    color: #828285;
}

.alert-info {
    background-color: #CED6D7 !important;
    color: #828285;
}

/*-----------------------Containers-------------------------*/

.tartan-thom-container {
    background-color: #e6beae;
}

.allauth-container {
    background-color: #e6beae;
    margin: 3em auto;
}

/*-----------------------Navigation-------------------------*/

.navbar-collapse {
  justify-content: center;
}

.navbar-nav {
  margin: 0 !important;
}

.nav-link {
  padding: 0.5em 2em !important;
}

.nav-brand {
    background-color: #E5E5E5;
}

.nav-shop {
    min-height: 5em;
    background-color: #CED6D7;
}

.dropdown-menu {
    border: none;
    background-color: #f8f9fa;
}

.bag-quantity {
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    display: inline-block;
    background-color: #e6beae;
    text-align: center;
}

/*----------------------Profile------------------------------*/

.profile-box {
    border: solid #828285;
}

.fa-3x {
    color: #828285;
}

/*----------------------Footer------------------------------*/

footer {
  display: block;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #828285;
}

.footer-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  color: #ffffff;
}

.footer-row {
  height: 100%;
  width: 100%;
}

.footer-col {
  padding: 2em;
}

.social {
  font-size: 1.5em;
  margin-right: 1em;
}

.copyright {
  padding: 1em;
  font-size: 0.8em;
  font-family: "Open Sans", sans-serif;
}

.footer-link:hover {
    color: #e6beae;
    text-decoration: none;
}

/*--------------------------Homepage------------------------*/

.nav-home {
    min-height: 7em;
    background-color: #CED6D7;
}

.shop-now {
    display: block;
    position: absolute;
    background-color: #e6beae;
    margin: 1em;
    padding: 1em;
    top: 0;
    float: left;
}

.shop-now-image {
    width: 100%;
}

/*----------------------------About-------------------------*/

.welcome {
  background-color: #e6beae;
}

.profile-image {
    width: 100%;
    max-width: 100%;
    float: right;
}

/*-------------------Authentication Templates--------------*/

.allauth-col {
    background-color: #e6beae;
}

/*--------------------------Testimonials-------------------*/

.testimonial {
    position: relative;
    display: none;
}

.testimonial-content {
    display: block;
    position: relative;
    min-height: 10em;
    background-color: #e6beae;
}

.button-left {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}

.button-right {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}

.fa-angle-right {
    margin-right: 1em;
}

.fa-angle-left {
    margin-left: 1em;
}

/*--------------------------Contact------------------------*/

.contact-container {
  background-color: #e6beae;
  width: 70%;
  padding: 2em;
  margin: 4em auto;
}

.contact-form {
  padding: 2em;
}

.contact-message-container {
    background-color: #e6beae;
}

/*--------------------------Products-----------------------*/

.product-details {
    padding: 3em;
    background-color: #e6beae;
}

.product-panel-details {
    padding-top: 1em;
    text-align: center;
}

.products-image {
    width: 100%;
    max-width: 100%;
}

.product-label {
    height: 3em;
    width: 3em;
    margin: 1em;
    padding: .5em;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #CED6D7;
    text-align: center;
}

.product-label-left {
    height: 3em;
    width: 3em;
    margin: 1em;
    padding: .5em;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #CED6D7;
    text-align: center;
}

.label {
    font-family: "Great Vibes", cursive !important;
    font-size: 1em;
}

.strike {
    text-decoration: line-through !important;
}

/*---------------Product Reviews / Additional Info-----------------*/

.stars {
    position: relative;
    display: inline-block;
}

.stars-filling {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #828285;
}

.stars-filling::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #e6beae;
}

.tab-content {
    padding: 2em;
    background-color: #ffffff;
    height: 10em;
    overflow: scroll;
}

#reviews-tab,
#add-info-tab,
#description-tab {
    background-color: #ffffff;
    border-color: #e6beae;
}

.review-text {
    padding-top: 1em;
}

.nav-link.active {
    background-color: #e6beae !important;
}

/*----------------------------Responsive-----------------------*/

@media only screen and (max-width: 400px) {

    .brand {
        max-width: 100%;
    }

    .link {
        overflow-wrap: break-word;
    }

    .fa-angle-right {
        margin-right: .5em !important;
}

    .fa-angle-left {
        margin-left: .5em !important;
    }

    .testimonial-content {
        padding: 2em !important;
    }
}

@media only screen and (min-width: 768px) {

    .products-image {
        max-width: 432px;
    }

}

@media only screen and (max-width: 767px) {

    .fa-archive {
        float: left !important;
    }

}

@media only screen and (max-width: 991px) {

    .testimonial-content {
        padding: 5em;
    }

}

@media only screen and (min-width: 992px) {

    .testimonial-content {
        padding: 7em;
    }

}