/*-----------------Background and Branding-----------------*/

body {
  background-image: url("/static/img/tartanthom.png");
  height: 100%;
}

.content {
  min-height: 70vh;
}

.brand {
  height: 120px;
  width: 280px;
}

h1,
h2,
h3,
h4 {
  font-family: "Great Vibes", cursive;
}

p {
  font-family: "Open Sans", sans-serif;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

i {
  color: inherit;
  padding: 5px;
}

/*-----------------------Navigation-------------------------*/

.navbar-collapse {
  justify-content: center;
}

.navbar-nav {
  margin: 0 !important;
}

.nav-link {
  padding: 5px 30px !important;
}

/*----------------------Footer------------------------------*/

footer {
  display: block;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #828285;
}

.footer-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  color: #ffffff;
}

.footer-row {
  height: 100%;
  width: 100%;
}

.footer-col {
  padding: 2em;
}

.social {
  font-size: 1.5em;
  margin-right: 15px;
}

.copyright {
  padding: 1em;
  font-size: 0.8em;
  font-family: "Open Sans", sans-serif;
}

/*----------------------------Index-------------------------*/

.welcome-container {
  margin-top: 5em;
}

.welcome {
  background-color: #e6beae;
  height: 400px;
  padding: 5em;
}

.profile-image {
  float: right;
  margin-top: 15%;
  margin-left: -5%;
}

/*--------------------------Contact------------------------*/

.contact-container {
  background-color: #e6beae;
  width: 70%;
  padding: 2em;
  margin: 4em auto;
}

.contact-form {
  padding: 2em;
}

/*--------------------------Reviews------------------------*/

.stars {
    position: relative;
    display: inline-block;
}

.stars-filling {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #828285;
}

.stars-filling::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #e6beae;
}
