{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container allauth-container p-3 my-5">
    <div class="row justify-content-center m-2 p-3">
        <div class="col-md-12">
            <h1>{% trans "Set Password" %}</h1>
        </div>
    </div>
    <div class="row justify-content-center m-2 p-3">
        <div class="col-md-12">
            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
            </form>
        </div>
    </div>
</div>

{% endblock %}
