{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block title %}Tartan Thom - Login{% endblock %} 

{% block content %}

<div class="container register-container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h1>Login</h1>
      <div class="form-group login-form">
        <form action="" method="post">
          {% csrf_token %} {{ login_form | crispy }}
          <input type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-10">
        <span>Don't have a Tartan Thom account yet? Click <a href="{% url 'accounts:register' %}">here</a> to register</span>
    </div>
  </div>
</div>

{% endblock %}