{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block title %}Tartan Thom - Password Reset{% endblock %} 

{% block content %}

<div class="container register-container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h1>Password Change</h1>
      <div class="form-group login-form">
        <form method="post">
          {% csrf_token %} {{ form | crispy }}
          <input type="submit" value="Request Password Reset" />
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}