{% extends 'base.html' %}
{% load static %}

{% block title %}About Tartan Thom{% endblock %}

{% block content %}


<div class="container welcome-container">
	<div class="row">
		<div class="welcome-info col-md-6 mb-7">
            <div class="welcome p-5">
                <h1>Welcome</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem et consequuntur, quaerat neque,
                    illo suscipit ipsa in saepe iusto quas, natus corrupti itaque? At velit aspernatur tempore eum quod
                    earum?</p>
                <div class="signature">
                    <h4>Nicola Thomson</h4>
                    <p>Founder of Tartan Thom</p>
                </div>
            </div>
		</div>
        <div class="welcome-image col-md-6 mt-7">
            <img src="{% static 'img/NicProfile.jpg' %}" alt="Profile Picture" class="profile-image mt-7">
        </div>
	</div>
</div>

{% endblock %}