{% extends 'base.html' %}
{% load static %}

{% block title %}Tartan Thom Philosophy{% endblock %}

{% block content %}

<div class="container my-5">
	<div class="row">
		<div class="col-md-6 mt-3">
            <div class="welcome p-5">
                <h1>Our Philosophy</h1>
                <p class="my-3">At Tartan Thom, we firmly believe that gift giving shouldn't come at the expense of the environment, which is why we strive to ensure our products and processes are as eco-friendly as possible</p>
                <p class="my-3">Our range of cards and gifts use recycled materials, and are packaged up and sent using recycled paper and card (no plastics) we means your conscience can rest easy when purchasing from us!</p>
            </div>
		</div>
        <div class="col-md-6 mt-3">
            <img src="{% static 'img/CardPackaging.jpg' %}" alt="Card Packaging" class="profile-image mt-7">
        </div>
	</div>
</div>

{% endblock %}