{% extends 'base.html' %}
{% load static %}
{% block title %}Tartan Thom - About{% endblock %}

{% block content %}

<div class="container my-5">
	<div class="row">
		<div class="col-md-6 mt-3">
            <div class="welcome p-5">
                <h1>Welcome</h1>
                <p class="my-3">Hi! I'm Nicola, designer, maker and founder at Tartan Thom.</p>
                <p class="my-3">What started out as a hobby has turned into a passion for me, creating distinct cards and products that are guaranteed to add an extra bit of special to any occasion.</p>
                <p class="my-3">All of the products in the collection are original, designed and hand crafted in my workshop in Yorkshire.</p>
                <div class="signature my-5">
                    <h4>Nicola Thomson</h4>
                    <p>Founder of Tartan Thom</p>
                </div>
            </div>
		</div>
        <div class="col-md-6 mt-3">
            <img src="{% static 'img/NicProfile.jpg' %}" alt="Profile Picture" class="profile-image mt-7">
        </div>
	</div>
</div>

{% endblock %}