{% extends 'base.html' %}
{% load static %}
{% block title %}Tartan Thom - Design & Craft{% endblock %}

{% block content %}

<div class="container my-5">
	<div class="row">
        <div class="col-md-6 mt-3">
            <img src="{% static 'img/ProcessLaserCutter.jpg' %}" alt="Laser Cutter" class="profile-image mt-7">
        </div>
		<div class="col-md-6 mt-3">
            <div class="welcome p-5">
                <h1>Design and Craft</h1>
                <p class="my-3">All of the cards in our collection are unique and designed in house and cut to order.</p>
                <p class="my-3">We have a range of products in our collection which are bespoke and can be personalised, adding that extra bit of special to the occasion</p>
            </div>
		</div>        
	</div>
</div>

{% endblock %}