{% extends 'base.html' %} 
{% load static %} 
{% load bootstrap_tags %} 
{% load crispy_forms_tags %}
{% block title %}Tartan Thom - Contact Us{% endblock %} 

{% block content %}

<div class="container contact-container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h1>Contact Us</h1>
      <div class="form-group contact-form">
        <form action="" method="post">
            {% csrf_token %} 
            {{ form|crispy }}
          <input type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
