<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans&family=Parisienne&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

<div class="container contact-message-container">
    <div class="row justify-content-center">
        <div class="col p-3">
        <h1>You have mail!</h1>
        <p>From Email: {{ email}} </p>

        <p>Message:</p>
        <p>{{ message }}</p>
        </div>
    </div>
</div>