{% extends 'base.html' %}
{% load static %}
{% block title %}Tartan Thom - FAQs{% endblock %}

{% block content %}

<div class="container tartan-thom-container p-3 my-5">
    <div class="row justify-content-center m-2 p-3">
        <div class="col-md-12">
            <div class="row justify-content-center">
                <div class="col-md-8 my-3">
                    <h1 class="my-3">FAQs</h1>
                </div>
            </div>
            <div class="row justify-content-center my-3">
                <div class="col-xs-12 col-md-10">
                    <h3>Q. How long will it take for my order to arrive?</h3>
                    <p>A. Tartan Thom aim to design, cut and send the product within 3 working days</p>
                    <hr>
                    <h3>Q. Can I tailor the details on the product?</h3>
                    <p>A. Our bespoke products are tailored to the customer - please ensure you complete
                    our bespoke form once you have placed the order to ensure we have the information needed.</p>
                    <hr>
                    <h3>Q. Are you able to amend designs or create new ones on request?</h3>
                    <p>A. If you have a specific design or requirement you would like us to make, please 
                    get in contact via our Contact page and we will be in touch</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}