{% extends 'base.html' %} 
{% load static %} 
{% block title%}Tartan Thom - Shop{% endblock %} 

{% block content %}

<nav id="nav-shop" class="navbar navbar-expand-lg nav-shop">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'products:view_products' %}">All Products</a>
                    </li>                    
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'products:view_products_by_type' 'cards' %}">Cards</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'products:view_products_by_type' 'cake-toppers' %}">Cake Toppers</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'products:view_products_by_type' 'gifts' %}">Gifts</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container my-profile-container p-3 my-5">
    <div class="row justify-content-center m-1 p-3">
        <div class="col">
            <h1>Products</h1>
        </div>
    </div>
    <div class="row justify-content-center mx-3 p-3">
        <div class="col-md-6 my-1">
            <h3>{{ product_type|title }}:</h3>
        </div>
        <div class="col-md-6 my-1">
        {% if products %}
            <h3>Found {{ results_count }} results to match your search</h3>
        {% else %}
            <h3>Sorry, we didn't find any products of this type</h3>
        {% endif %}
        </div>
    </div>
    <div class="row justify-content-center m-2 p-3">
        {% if products %}
            {% for product in products %}
            <div class="product-panel col-md-3 col-sm-5 m-3">
                <div class="row justify-content-center">
                    <div class="product-panel">
                        <div class="product-panel-image">
                            <a href="{% url 'products:view_product' product.id %}">
                                <img class="products-image" src="{% static 'img/NicProfile.jpg' %}" alt="product-image"/>
                                {% if product.label %}
                                <div class="product-label py-auto">
                                    <span>{{ product.label }}</span>
                                </div>
                                {% endif %}
                            </a>
                            <!-------------Need to switch holding image to {{ product.image.url }}-------->
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 product-panel-details">
                        <h2>{{ product.name }}</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 product-panel-details">
                        {% if product.sale_price %}
                        <p><strike>£{{ product.price }}</strike>   £{{ product.sale_price }}</p>
                        {% else %}
                        <p>£{{ product.price }}</p>
                        {% endif %}
                    </div>
                </div>

            </div>
            {% endfor %} 
        {% endif %}
    </div>
</div>

{% endblock %}
