{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title%}Tartan Thom Shop - {{ product.name }}{% endblock %} 
{% block content %}

<div class="container p-3 my-5">
    <div class="row justify-content-center my-1">
        <div class="col-md-4 m-2 p-0">
            <img src="{{ product.image.url }}" alt="product-image" class="products-image"/>
            {% if product.label %}
            <div class="product-label py-auto">
                <span id="label">{{ product.label }}</span>
            </div>
            {% endif %}
        </div>
        <div class="col-md-6 product-details m-2">
            <h2>{{ product.name }}</h2>
            <p>Category: {{ product.category }}</p>
            {% if product.sale_price %}
                <p><span class="strike">£{{ product.price }}</span>   £{{ product.sale_price }}</p>
            {% else %}
                <p>£{{ product.price }}</p>
            {% endif %}
            <form method="POST" action="{% url 'basket:add_to_basket' product.id %}">
                {% csrf_token %}
                <fieldset>
                {{ form|crispy }}
                </fieldset>
                <div class="form-row my-2">
                    <div class="col-md-12">
                        <button class="add-to-basket btn" type="submit">Add to bag</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center my-1">
        <div class="col-md-10 my-1">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description"
                    role="tab" aria-controls="description" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab"
                    aria-controls="reviews" aria-selected="false">Reviews</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                <p class="py-1">{{ product.description }}</p>
                <p class="py-1">Size: {{ product.size }}</p>
            </div>
            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
            {% if reviews %}
                {% for review in reviews %}
                    {% if review.user_anonymous %}
                        <div>Customer: Anonymous</div>
                    {% else %}
                        <div>Customer: {{ review.user.username }}</div>
                    {% endif %}
                    <div>Date: {{ review.review_date }}</div>
                    <div class="stars">
                        <div class="stars-filling" style="width: {{review.review_percentage}}%;"></div>
                    </div>
                    <div class="review-text">{{ review.review_text }}</div>
                    <hr>
            {% endfor %}
        {% else %}
            <div>There are no reviews for this product yet!</div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
