{% extends 'base.html' %} 
{% load static %} 
{% block title%}Tartan Thom - Shop{% endblock %} 

{% block content %}

<nav id="nav-shop" class="navbar navbar-expand-lg nav-shop">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'products:view_cards' %}">Cards</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'products:view_cake-toppers' %}">Cake Toppers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'products:view_gifts' %}">Gifts</a>
    </li>
  </ul>
</nav>

<div class="container">

    <div class="row m-3">
        <div class="col-md-6">
            <h1>{{ product_type }}</h1>
        </div>
        <div class="col-md-6">
            <h3>Found XX results to match your search</h3>
        </div>
    </div>

    <div class="row">
        {% if products %}
            {% for product in products %}
        <div class="product-panel col-md-4 col-sm-6">
            <div class="row">
                <div class="product-panel">
                    <div class="product-panel-image">
                        <a href="{% url 'products:view_product' product.id %}"
                            ><img class="products-image" src="{{ product.image.url }}" alt="product-image"/></a>
                        <!-------------Need to switch holding image to {{ product.image.url }}-------->
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="product-panel-details">
                    <h2>{{ product.name }}</h2>
                    {% if product.sale_price %}
                    <p><strike>£{{ product.price }}</strike>£{{ product.sale_price }}</p>
                    {% else %}
                    <p>£{{ product.price }}</p>
                    {% endif %}
                </div>
            </div>

        </div>
        {% endfor %} {% endif %}
    </div>
</div>

{% endblock %}
